<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Some of my Projects</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ipsam quisquam. Nihil, fuga impedit repudiandae qui est, recusandae corporis saepe dolore quidem laudantium esse vero iste dolores eos explicabo corrupti laboriosam cumque architecto odio nulla totam quaerat! Rem, alias ab. Fuga atque nemo qui? Ipsa eligendi odio nesciunt obcaecati optio?</p>
    </div>
</div>