<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-friendly edits</h2>
    </header>
    <div class="container grid grid--1x2">
        <picture class="block-showcase__image">
            <source type="image/webp" srcset="images/ipad1x.webp 1x, images/ipad2x.webp 2x">
            <source type="image/png" srcset="images/ipad1x.png 1x, images/ipad2x.png 2x">
            <img src="images/ipad1x.png" alt="">
        </picture>
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--white">
                            <use xlink:href="images/sprite.svg#computer"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Some of my Projects</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ipsam quisquam. Nihil, fuga impedit repudiandae qui est, recusandae corporis saepe dolore quidem laudantium esse vero iste dolores eos explicabo corrupti laboriosam cumque architecto odio nulla totam quaerat! Rem, alias ab. Fuga atque nemo qui? Ipsa eligendi odio nesciunt obcaecati optio?</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--white">
                            <use xlink:href="images/sprite.svg#clock"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Some of my Projects</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ipsam quisquam. Nihil, fuga impedit repudiandae qui est, recusandae corporis saepe dolore quidem laudantium esse vero iste dolores eos explicabo corrupti laboriosam cumque architecto odio nulla totam quaerat! Rem, alias ab. Fuga atque nemo qui? Ipsa eligendi odio nesciunt obcaecati optio?</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--white">
                            <use xlink:href="images/sprite.svg#wordpress"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Some of my Projects</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ipsam quisquam. Nihil, fuga impedit repudiandae qui est, recusandae corporis saepe dolore quidem laudantium esse vero iste dolores eos explicabo corrupti laboriosam cumque architecto odio nulla totam quaerat! Rem, alias ab. Fuga atque nemo qui? Ipsa eligendi odio nesciunt obcaecati optio?</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>